/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Шрифты */
  --font-primary: "Inter", sans-serif;     
  --font-accent: "PressStart2P", monospace; 
  --font-weight-text: 400; 
  --font-weight-title: 700;
}